body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #f9f9f9;
}
p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0 35px 20px 35px;
}
h1, h2 {
  margin: 0;
  padding: 0 30px 0 30px;
}
hr {
  margin-bottom: 25px;
  border-bottom-color: #d2d2d2;
}
.container {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.08);
}
.back-drop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: background-color 0.2s ease;
  background-color: rgba(0, 0, 0, 0);
}
#ModalContainer {
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
}
#Modal {
  width: 40%;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  pointer-events: auto;
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.55);
  top: -400px;
  position: relative;
  transition: top 0.5s ease;
}
.show {
  #Modal {
    top: 0;
  }
  .back-drop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
#ModalHeader {
  margin-bottom: 10px;
}
#CurrentConditionsRegion {
  > div {
    opacity:1;
    transition: opacity 0.2s ease;
    &.zero-opacity {
      opacity: 0;
    }
  }
  li {
    list-style: none;
    padding: 5px 0px;
    p {
      padding: 10px;
      border: 1px solid white;
      border-radius: 4px;
    }
  }
  li:hover {
    p {
      border: 1px solid #1d1d1d;
    }
  }
}
// loading stuff
.spinner-container {
  opacity:1;
  transition: opacity 0.2s ease;
  &.zero-opacity {
    opacity: 0;
  }
}
.sp {
	width: 32px;
	height: 32px;
	clear: both;
	margin: 20px auto;
}
.sp-volume {
	background-color: #1d1d1d;
	border-radius: 50%;
	position: relative;
	-webkit-animation: spVolRot .6s infinite linear;
	animation: spVolRot .6s infinite linear;
}
.sp-volume:after {
	content: '';
	border-radius: 50%;
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	left: 5px;
	top: 5px;
	background-color: lighten(#1d1d1d,100%);
}
@-webkit-keyframes spVolRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spVolRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
