<div class="back-drop">
</div>

<div id="ModalContainer">
  <div id="Modal">
    <div id="ModalHeader">
      <button>
        close
      </button>      
    </div>

    <div id="NestedModalView">


    </div>
  </div>
</div>
